In [1]:
10 < 100

True

In [2]:
100 != 100

False

In [3]:
50 >= 50

True

In [4]:
age = int(input("Your Age: "))

Your Age: 21

In [5]:
age > 18

True

In [6]:
age == 21

True

In [7]:
age < 31

True

In [8]:
"a" < "b"

True

In [9]:
"b" < "a"

False

In [10]:
"John" < "Terry"

True

In [11]:
5 < 10.2

True

In [12]:
5 < "Monty"

TypeError: '<' not supported between instances of 'int' and 'str'

In [13]:
5 < "5"

TypeError: '<' not supported between instances of 'int' and 'str'

In [14]:
age = 30

age >=18 and age <=65
age <18 or age >65
not age > 18

False

In [15]:
age = 30

(age >=18 and age <=65) and (not age==30)

False

In [20]:
age = int(input("Your Age"))
print("Valid" if age > 18 and age < 30 else "Not Valid")

Your Age20
Valid

In [21]:
if age > 18:
    print("Valid")
elif age < 30:
    print("Valid")
else:
    print("Not Valid")

Valid

In [22]:
"you are an adult" if age >= 18 else "you are not an adult, yet!"

'you are an adult'

In [25]:
total = int(input())
if total != 0:
    print(False)
else:
    print(True)

2
False

In [36]:
for i in range(2,12,2):
    print(i, "to the power of", i, "=" ,i**i)

2 to the power of 2 = 4
4 to the power of 4 = 256
6 to the power of 6 = 46656
8 to the power of 8 = 16777216
10 to the power of 10 = 10000000000

In [37]:
numbers = [10, 20 , 30, 90, 200, 30, 22, 11]
for i in numbers:
    print(i)

10
20
30
90
200
30
22
11

In [38]:
numbers = [10, 20 , 30, 90, 200, 30, 22, 11]
for i in numbers:
    if i>100:
        break
    else:
        print(i)

10
20
30
90

In [1]:
numbers = [10, 20 , 30, 90, 200, 30, 22, 11]
for i in numbers:
    if i<=100:
        print("all numbers processed",i)
    else:
        continue

all numbers processed 10
all numbers processed 20
all numbers processed 30
all numbers processed 90
all numbers processed 30
all numbers processed 22
all numbers processed 11

In [ ]:
#Boolean Expression = Which express either True or False or the result
#of the program
#Relational Operation = Shows the relation between operands <, >, == 
#and so on 
#Logical operator = result the logic between operands
#operator chaining = chain between operators for the operands
#Ternary Operators = 2,3 lines of if else code in single line
#Iteration = looping the thing
#Nested Loop = loop inside loop